.panda-bg-info {
  background-color: #fceae8;
  border-radius: 20px !important;
}
.panda-carousel-item {
  padding: 20px 40px;
}
.panda-btn-primary {
  padding: 10px 25px;
  color: #fff;
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
.heading-price {
  color: #ff136f;
}

.categories h1 {
  color: #fff;
  font-size: 2.8rem;
}
.categories img {
  width: 100px;
}
.bg-watch {
  background-color: #ffa500;
}
.bg-bag {
  background-color: #da70d6;
}
.bg-shoe {
  background-color: #0000ff;
}
